<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width= device-width, initial-scale=1.0">
    <title>File Detail- FileExplore v1.0</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
          crossorigin="anonymous">
</head>
<body>
<div th:replace="/main.html::head"></div>
<div class="container">
    <div class="justify-content-center text-center p-3">
        <div class="">
            <h1 class="d-inline px-5 bg-primary bg-gradient text-white rounded">檔案資訊</h1>
        </div>
        <div class="align-self-center bg-gradient rounded p-3" th:object="${data}">
            <input class="" hidden="hidden" id="file_id" th:value="*{id}"/>
            <p>名稱 : <input readonly="readonly" id="file_name" th:value="*{file_name}"/></p>
            <p>路徑 : <input readonly="readonly" id="path" th:value="*{path}"/></p>
            <div id="file_types" class="m-2">
                類型 :
                <p style="display: inline" th:text="*{fileType.typeName}"></p>
            </div>
            <div id="file_tags" class="m-2">
                標籤 :
                <th:block th:each ="tag:*{tags}">
                    <span th:text="${tag.name}"></span>
                </th:block>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>
</html>